<h1 class="text-center my-5"><%= @land.location %></h1>
<div class="container">
  <div class="d-flex  border-1 border-top-0 border-start-0 border-end-0 border-bottom border-success mt-5 bg-white p-3">
    <%= cl_image_tag @land.photo.key, height: 400, width: 600, crop: :fill, class: "me-2 rounded-5" %>
    <div class="d-flex justify-content-center flex-column ps-5 ms-3 flex-start border-2 border-start border-top-0 border-end-0 border-bottom-0  border-dark">
      <p>Surface: <%= @land.area %>m2</p>
      <p>Prix: <%= @land.price %>€/jour</p>
      <div>
        <%= link_to "Retour",lands_path, class:"btn btn-warning" %>
        <%= link_to "Réserver",lands_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
